* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0f0f0f;
    color: #f5f5f5;
    line-height: 1.7;
}

nav {
    background-color: #141414;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #b22222;
    color: #fff;
}

header {
    background: linear-gradient(90deg, #1a1a1a, #b22222);
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 38px;
    color: #fff;
}
.ufc-image {
    display: block;
    margin: 20px auto;
    border: 5px solid #e10600;
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(225, 6, 0, 0.5);
    transition: transform 0.3s ease;
}

.ufc-image:hover {
    transform: scale(2.05);
}

.historia-img {
    display: block;
    margin: 20px auto;
    border: 5px solid #e10600;
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(225, 6, 0, 0.5);
    transition: transform 0.3s ease;
}

.historia-img:hover {
    transform: scale(2.05);
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

h2 {
    color: #d4af37;
    border-left: 5px solid #b22222;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
    background-color: #141414;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #aaa;
    margin-top: 40px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    header h1 {
        font-size: 28px;
    }
}